<h1>Contacts</h1>

<h2>Your Contacts with <%=@rep.name%></h2>

<div>
    <%@contacts.each do |contact|%>
        <div>
            <h4>Issue: <%=contact.issue%></h4>
            <%=contact.description%>
            <br><br>
            <a href="/contacts/edit/<%=contact.id%>">Edit</a> | <a href="/contacts/delete/<%=contact.id%>">Delete</a>
        </div>
    <%end%>
</div>