<h1>All Contacts</h1>

<%@reps.each do |rep|%>
    <%contacts = Contact.where("rep_id = ? AND user_id = ?", rep.id, current_user.id)%>
    <div>
        <h2>Your Contacts with <%=rep.name%></h2>
        <%contacts.each do |contact|%>
            <h4>Issue: <%=contact.issue%></h4>
            <%=contact.description%>
            <br><br>
            <a href="/contacts/edit/<%=contact.id%>">Edit</a> | <a href="/contacts/delete/<%=contact.id%>">Delete</a>
    <%end%>
    </div>
<%end%>